<%- include('partials/header'); -%>
   <h1>Home</h1>
   <p><%=home_content%></p>
   <%scripts.forEach(function(element){%>
        <h1><%=element.head%></h1>
        <%if(element.content.length <= 300){%>
          <p><%=(element.content)%></p>
        <%}else{%>
        <p><%=(element.content).substring(0,400)+"..."%><a href="/posts/<%=(element.head).toLowerCase()%>">[Read More]</a></p>
        <%}%>
   <%})%>
   <br>
      <p><a href="compose" class="btn btn-outline"><b>+</b> Create</a></p>
  </div>
  <%- include('partials/footer'); -%>
  </body>
</html>
